body{
	margin: auto;
	font-family: Avenir Next, sans-serif;
	color: white;
	background-color: black;
}

li {
	list-style-type: none;
	display: inline-block;
	padding-left:20px;
	padding-right:20px;
}

.header div{ 
	width: 160px;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	display: inline-block;
}

#reset{
	text-align: center;
	width: 267px;
}

#reset:hover{
	background-color: #ffe500;
	color: black;
	cursor: pointer;
}

#hidden{
	/*background-color: red;*/
	padding-left: 150px;
	color: black;
	cursor: default;
}


.footer{
	font-size: 30px;
	position: absolute;
	bottom: 10px;
	left: 480px;
}

#para{
	position: absolute;
	bottom: 10px;
	height: 130px;
	width: 1000px;
	left: -500px;
	font-size: 20px;
}

#pipes-gap{
	padding-top: 25px;
	padding-right: 50px
}

#soe{
	padding-left: 60px;
}

#pop-count{
	padding-top: 15px;
	padding-right: 70px;
}

#title{
	text-align: center;
	position: absolute;
	bottom: 10px;
	height: 120px;
	width: 400px;
	left: 500px;
	font-size: 40px;
}



